* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.App {
    height: 100vh;
    padding-top: 10px;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
}

.container-freecodecamp-logo {
    width: 100%;
    height: 50px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.freecodecamp-logo {
    height: 40px;
}

.container-calculator {
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: var(--light-green);
    border-radius: 20px;
    border: 5px solid white;
    position: relative;
}

.row {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --green: #a2ac6e;
    --lime: #ddff35;
    --light-green: #cac8b0;
    --wheat: #edebd7;
    --blue: #001736;
    --dark-cyan: #104377;
    --dark-red: #7C0202; 
    --yellow: #FEE06E;
    --dark-yellow: #E6C95A; 
  }